<h2>Products</h2>

<div *ngIf="isLoading">
  Loading products...
</div>
<div *ngIf="!isLoading && !hasResults">
  No products found
</div>
<div>
  <input type="text" placeholder="Search by name..." [formControl]="searchControl" />
</div>
<div class="filters">

  <button (click)="setFilter('all')">
    All
  </button>

  <button (click)="setFilter('low')">
    Low Stock
  </button>

  <button (click)="setFilter('out')">
    Out of Stock
  </button>

</div>
<table border="1" *ngIf="!isLoading && hasResults">

  <thead>
    <tr>
      <th (click)="sort('id')" style="cursor:pointer">
        Id
        <span *ngIf="sortColumn === 'id'">
          {{ sortDirection === 'asc' ? '↑' : '↓' }}
        </span>
      </th>
      <th (click)="sort('name')" style="cursor:pointer">
        Name
        <span *ngIf="sortColumn === 'name'">
          {{ sortDirection === 'asc' ? '↑' : '↓' }}
        </span>
      </th>
      <th (click)="sort('description')" style="cursor:pointer">
        Description
        <span *ngIf="sortColumn === 'description'">
          {{ sortDirection === 'asc' ? '↑' : '↓' }}
        </span>
      </th>
      <th (click)="sort('price')" style="cursor:pointer">
        Price
        <span *ngIf="sortColumn === 'price'">
          {{ sortDirection === 'asc' ? '↑' : '↓' }}
        </span>
      </th>
      <th (click)="sort('stock')" style="cursor:pointer">
        Stock
        <span *ngIf="sortColumn === 'stock'">
          {{ sortDirection === 'asc' ? '↑' : '↓' }}
        </span>
      </th>
      <th (click)="sort('creationDate')" style="cursor:pointer">
        Created
        <span *ngIf="sortColumn === 'creationDate'">
          {{ sortDirection === 'asc' ? '↑' : '↓' }}
        </span>
      </th>
    </tr>
  </thead>

  <button routerLink="/products/create">
    Create Product
  </button>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td [ngClass]="{
        'stock-ok': product.stock > 5,
        'stock-low': product.stock > 0 && product.stock <= 5,
        'stock-out': product.stock === 0
      }">
        {{ product.stock }}

        <span *ngIf="product.stock > 0 && product.stock <= 5">
          ⚠ Low
        </span>

        <span *ngIf="product.stock === 0">
          Out
        </span>
      </td>
      <td>{{ product.creationDate }}</td>
      <td>
        <button *ngIf="isAdmin || isManager" [routerLink]="['/products/edit', product.id]">
          Edit
        </button>
      </td>
      <td>
        <button *ngIf="isAdmin" (click)="deleteProduct(product.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

  <div style="margin-top: 20px;" class="pagination">

    <button (click)="previousPage()" [disabled]="currentPage === 0 || isLoading">Previous</button>

    <span>
      Page {{ currentPage + 1 }} of {{ totalPages }}
    </span>

    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1 || isLoading">Next</button>

  </div>

</table>