.pagination {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.stock-ok {
  color: green;
  font-weight: bold;
}

.stock-low {
  color: orange;
  font-weight: bold;
}

.stock-out {
  color: red;
  font-weight: bold;
}